body{
    background-color: #9dbebb;
    font-family: Montserrat, sans-serif;
}
*{
    margin: 0;
}

.webdevelopercover {
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    
}

img {
    border-radius: 100%;
    width: 250px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3{
    font-family: Montserrat, sans-serif;
}
.firstability{
    font-size: 20px;
}
.secondability{
    font-size: 20px;
}
.thirdability{
    font-size: 20px;
}
.fourthability{
    font-size: 20px;
}

#MyName {
    font-family: Pangolin, sans-serif;
    position: absolute;
    align-items: center;
    top: 230px;
    left: 370px;
    color: grey;
}

#myphoto {
    position: absolute;
    top: 130px;
    left: 70px;
    padding: 0px;
    margin: 0px;
    border: 0px;
   
    border-radius: 20px;
    background-color: rgb(117, 166, 175);
}

.description {
    position: absolute;
    top: 270px;
    left: 370px;
    font-size: 22px;
    color: grey;
}

button {
    background-color: rgb(117, 166, 175);
    padding: 15px 30px;
    margin-left: 45px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
}
.abutton {
    text-decoration: none;
    color: blanchedalmond;
}
.trybe{
    color:green;
    font-weight: bold;
}

#information {
    position: absolute;
    top: 800px;
    left: 20px;
}

#controlbutton {
    position: absolute;
    top: 550px;
}


#Moreinformation {
    position: absolute;
    top: 700px;
    left: 450px;
}

#pagehability {
    position: absolute;
    top: 1400px;
    left: 450px;
}

#pagehobbys {
    position: absolute;
    top: 2100px;
    left: 450px;
}

#pagefoods {
    position: absolute;
    top: 2780px;
    left: 450px;
}

#pagebooks {
    position: absolute;
    top: 3470px;
    left: 450px;
}

#returnbutton {
    position: absolute;
    top: 3920px;
    left: 700px;
}

h4 {
    position: absolute;
    font-weight: bold;
    top: 590px;
}